/* scrollbar color */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background:#d1e5ff
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(teal, black)
}

/* logo styling */
.clock{
    width: 200px;
    height: 200px;
}


/* NAVIGATION STYLING */
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky{
    padding: 5px 100px;
    background: white;
}

header .logo{
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    color: white;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}
header.sticky .logo{
    color: black;
}
header.sticky ul li a{
    color: black;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: #00A5B5;
    position: absolute;
    z-index: 999;
    display: none;
    }


ul li:hover ul.dropdown{
    display: block;
    transition: transform .3s ease;
    }

    #dropdown{
        border: solid;
        border: transparent;
        border-radius: 30px;
    }
    #dropdown.sticky{
        padding-top: 15%;
        background: white;
    }
    #drop{
        padding-top: 10%;
        display: flex;
    
        align-items: left;
        text-align: left;
        transition: 0.6s;
        z-index: 100000;
    }
    #down{
        padding-bottom: 10%;
    }






    a::before {  
        transform: scaleX(0);
        transform-origin: bottom right;
      }
      
      a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
      a::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: teal;
        z-index: -1;
        transition: transform .3s ease;
      }
    

      
      @media (orientation: landscape) {
        body {
          grid-auto-flow: column;
        }
      }
/* section styling */
body{
    background-color:teal ;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}



section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;


}

#news1{
    top: 100px;
}

.hidden{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(perfers-reduced-motion){
    .hidden{
        transition: none;
    }
}


/* SECTION COLORS */

#color1{
    background-color: #00A5B5;
}




/* FEATURED NEWS */
.featured{
    display: flex;

}
div {
    margin: 10px;
  }
/* featured image sizing */

.card{
    width: 250px;
	height: 350px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


/* featured images transitions */
.feature:nth-child(2){
    transition-delay: 200ms;
}
.feature:nth-child(3){
    transition-delay: 400ms;

}
.feature:nth-child(4){
    transition-delay: 600ms;
}
/* Hover Card Animations */
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-body{
    width: 100%;
    height: 100%;
    top:-15%;
    right: -130%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;

}

.card:hover .card-body{
    right: -17%;
}

.card-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}
.card-sub-title{
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 300;
}
.card-info{
    font-size: 14px;
    line-height: 25px;
    margin: 0 0;
    font-weight: 400;
}

.card-btn{
    color: white;
    background: teal;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}
/* test */

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  

  .hero-section{
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
      
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.0rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;

  }

/* card style */
.wrap-2{
    position:fixed;
    z-index:-30;
    top:0;
    left:0;
    overflow:hidden;
    height:100vh;
    width:100vw;
    margin:auto;
        background: -webkit-gradient(linear, left top, right bottom, from(#00A5B5), to(#84DADE));
    background: linear-gradient(to bottom right, #00A5B5, #00A5B5);
  }
  canvas{
    opacity: 10%;
    width:100%;
    height:100%;
  }
  /* footer */
  

  .colorlol{
    background-color: white;
    opacity: 20%;
    min-height: 5%;
  }
  .footer {
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;

  }

  .footer .col h1 {
    font-family: inherit;
    font-size: 75px;
    color: black;

    text-transform: uppercase;

  }
  .footer .col ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


  }

   /* side menu */
   #checking{
    opacity: 0%;
    display: none;
  }
  
  @media only screen and (max-width: 500px){
    .smh{
      display: block;
    }
    #smfh{
      padding-top: 100%;
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 850px){
    .smh{
      display: block;
    }
    #smfh{
      padding-top: 70%;
    }
  }
  @media only screen and (max-width: 1300px) {
    #checking{
      display: contents;
    }
    #v8engine{
      padding-top: 10%;
    }
    #audia8{
      color: black;
      padding-top: 20%;
    }
    .smh{
      padding-top: 50%;
      display: block;
    }
      .wrightnav{
        display: none;
        opacity: 0%;
      
      }
      *, *:before, *:after 
  { box-sizing: border-box; }
  
  
  
  label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    
  }
  
  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #69D2e7;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: #f38630;
    text-decoration: none;
    
  }
  
  
   
    }
    